@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Orbitron:wght@400..900&display=swap');


.ff_opensans {
    font-family: "Open Sans", sans-serif;
}

.ff_inter {
    font-family: "Inter", sans-serif;
}

.ff_orbitron {
    font-family: "Orbitron", sans-serif;
}
:root {
    --font-xsm: 14.74px;
    --font-sm: 16px;
    --font-md: 18.44px;
    --font-lg: 20px;
    --font-2xl: 48px;
    --font-3xl: 52px;
  
     --color-grey: #151515;
    --color-white: #ffffff;
    --color-green: #98BD42;
}

/* line height */
.lh_120{
    line-height: 120% !important;
}
.lh_140{
    line-height: 140% !important;
}
.lh_150{
    line-height: 150% !important;
}

.color-white {
   color: var( --color-white);
}
.color-green {
    color: var( --color-green);
 }
 .bg-grey {
    background-color: var( --color-grey);
 }


 /* text size */
 .text-xsm {
    font-size: var( --font-xsm);
}
.text-sm {
    font-size: var( --font-sm);
}
.text-3xl{
    font-size: var(--font-3xl);
}
.text-2xl{
    font-size: var(--font-2xl);
}
.text-md{
    font-size: var(--font-md);
}
.text-lg{
    font-size: var(--font-lg);
}




@media (max-width:1025px) {
    :root {
        --font-sm: 16px;
        --font-2xl: 40px;
        --font-3xl: 32px !important; 
    }    
}


@media (max-width:768px) {
    :root {
        --font-2xl: 38px;
        --font-sm: 16px;
        --font-3xl: 22px !important; 
    }    
}
@media (max-width:576px) {
    :root {
        --font-2xl: 28px;
        --font-sm: 16px;
        --font-3xl: 18px !important; 
    }    
}
