* {
    list-style: none;
    padding-bottom: 0 !important;
    margin-bottom: 0 !important;
    text-decoration: none !important;
}

.custom_container {
    max-width: 1164px !important;
}

/* navbar */
.logo_name {
    cursor: pointer;
    width: 192px;
    height: 22.65px;
}

.navbar_1 {
    border-bottom: 1px solid #808080;
    height: 100px;
}

.nav_btn {
    transition: all 300ms ease-in-out;
    padding: 11.2px 21.5px !important;
    border: 1px solid white;
}
.nav_btn:hover {
    background-color: #98BD42 !important;
    color: black;
}

.menu_btn {
    cursor: pointer;
    margin-left: 10px;
    border: 1px solid white !important;
    padding:18px 15px  !important;
    width: 52px;
    height: 52px;
    background-color: inherit;
}

.menu_btn span {
    width: 100%;
    height: 3px;
    background-color: white;
    transition: 300ms linear;
}
/* --------------hero-section-------------- */
.hero_bg{
    background-image: url("../images/png/hero-bg.png");
    background-position:center;
    background-size: cover;
    min-height: 100vh;
}
.mobile_frame{
    background-image: url("../images/png/mobile-frame.png");
    background-position:center;
    background-size: cover;
    max-width: 328.76px;
    height: 644px;
    padding:63px 28px;
}
.mobile_btn{
    transition: all 300ms ease-in-out;
    border: none !important;
    padding:13.3px 28.3px  !important;
    border-radius: 87px;
    background: #98BD42;
}
.mobile_btn:hover{
    background: #000;
    color: white;
}
/* ------slider srction--------- */
.slider_card{
    height: 125.4px;
    width: 309.81px !important;
    background: #151515;
}
.gap_17{
    gap: 17px !important;
}
.slider_profile_img{
    width: 88.52px;
    height: 96px;
}
.p_69{
   padding: 69.5px !important;
}
.blur_circle{
    filter: blur(320px);
    border-radius: 400px;
    width: 458px;
    height: 458px;
    background-color: #98BD42;
}
.slider_blur_ellips{
    top: -50% !important;
    right:-20%;
}
.max_w_978{
    max-width: 978px;
}
.profile_slider {
    width: calc(126 * 6);
    -webkit-animation: scroll 15s linear infinite;
    animation: scroll 15s linear infinite;
  }
  @-webkit-keyframes scroll {
    0% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
    }
    100% {
      -webkit-transform: translateX(calc(-126px * 3));
      transform: translateX(calc(-126px * 3));
    }
  } 


/*---------- benifits---------- */
.green_circle{
    background: #98BD42;
    height: 236.58px;
    width: 236.58px;
    border-radius:150px ;
}
.py_78{
    padding-bottom: 78px !important;
    padding-top: 78px !important;
}
.max_w_178{
    max-width: 179px;
}
.left_border_box{
    max-width: 833px;
    background: #1D1f17;
    border-left: 8px solid #98BD42;
    padding: 26px  26px !important;
   
}
.pb_72{
    padding-bottom: 72px !important;
}

/* ---understaing--- */
.max_w_678{
    max-width: 770px;
}
.max_w_812{
    max-width: 812px;
}
.green_card{
    max-width: 524px !important;
    border-radius: 16px;
    min-height: 260px;
    background: #98BD42;
}
.john_invested{
    width: 72px;
    height: 72px;
}
.graph_card{
    margin-top: -80px;
    max-width: 471px;
    border-radius: 15px;
    background: white;
    padding: 20px !important;
}
.gradient_color{
    color: #D221EB;

}
.graph_btn{
    transition: all 300ms ease-in-out;
    border: 1px solid transparent !important;
    padding:13.5px 27.5px  !important;
    background: #98BD42;
    margin-top: 50px;
}
.graph_btn:hover{
    background: white;
    color: #98BD42;
}
/* ----------how it work-------------- */
.max_w_726{
    max-width: 726px;
}
.how_it_work_bg{
    background-image: url("../images/svg/half-circle-line.svg");
    background-position:50% 20%;
    height: 910px;
    background-repeat: no-repeat;
}


/* ------------statstics for today--------------- */
.bg_green{
    background-color: #98BD42;
}
.counter_box{
    position: relative;
    z-index: 10;
    padding: 33px !important;
    background: white;
    width: 360px;
    height: 318px;
}
.counter_digit_box{
    max-width: 199px;
    height: 173px;
    background-color: #DAE7BB;
    border: 1px solid #99A380;
}
.register_btn{
    padding: 13.5px 20.5px !important;
    width: 149px !important;
    margin-top: 30px !important;
}

.company_names{
    transition: all 300ms ease-in-out;
    cursor: pointer;
    max-width: 145px;
    height: 134px;
    margin-bottom: 18px !important;
}
.company_names:hover{
    transform: scale(1.05);
}
.benifits_ellips2{
    top: -38%;
    right: -20%;
}
.logos_ellips {
    bottom: -12%;
    left: -15%;
}
.logos_ellip2{
    right: -15%;
    top: -30%;
}
.benifits_ellips{
    bottom: -30%;
    left: -32%;
}
.max_w_280{
    max-width:270px;
}
.border_btn{
    transition: all 300ms ease-in-out;
    background: transparent !important;
    border: 1px solid white;
    padding: 13.5px 21.5px !important;
}
.border_btn:hover{
    color: white;
    background-color: #98BD42 !important;
}
.work_steps_card{
    margin-top: 260px !important;
    padding-bottom: 128px !important;
}
.work_ellips{
    bottom: -3%;
    left: -30%;
}
.px_36{
    padding-left: 36px !important;
    padding-right: 36px !important;
}
.mt_18{
    margin-top: 18px;
}
input{
    transition:  all 200ms ease-in-out;
    outline: none !important;
    color: white !important;
}
.input_border{
    border: 1px solid #CCCCCC;
    border-radius: 100px;
    padding: 8px !important;
    height: 37px;
}

input:hover{
    border:  1px solid #98BD42 !important;
    transition: all 300ms ease-in-out;
    outline:none !important;
}
.form_btn{
    transition: all 200ms ease-in-out;
    border: 1px solid transparent;
    background: #98BD42;
    border-radius: 87px;
    width: 269px;
    padding: 12.4px  95px  !important;
}
.form_btn:hover{
    background: #000;
    color: white;
}
.vdio_box{
    width: 100%;
    position: relative;
    z-index: 10;
    background: #000;
    max-width: 762px;
    border: 1px solid #3f4f1d;
    padding: 20px !important;
}
.hero_vdio{
    object-fit: cover !important;
    max-width: 100% !important;
    width: 921px !important;
    height: 324px !important;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.max_w_360{
    max-width: 360px;
}
.countdown_box{
    width: 601px;
}
/* -----------faq----------- */
.accordian_box{
    max-width: 870px;
}
.accordion{
    border:unset !important;
}
.accordion-button:not(.collapsed) {
    border-bottom: transparent !important;
    color: var(--bs-accordion-active-color);
    background-color: transparent !important;
    box-shadow:unset !important;  
    padding: 31px 0px 11px 0px !important;
  
}
.accordion-flush .accordion-item {
    border-bottom: 1px solid #40501C !important;
}
.accordion-button:not(.collapsed)::after {
    transition: all 500ms ease-in-out !important;
    transform: rotate(180deg) !important;
}
.accordion-item{
    background-color: transparent !important;
}
.accordion-button::after{
    background-size: cover !important;
    width: 32px !important;
    height: 32px !important;
    font-size: 32px !important;
    margin-top: -4px !important;
    background-image: url("../images/svg/accordian-btn.svg") !important;
}
.accordion-button {
    transition: all 600ms ease-in-out !important;
    border-bottom: 1px solid #40501C !important;
    padding: 31px 0px 24px 0px !important;
}
.accordion-body{
    position: relative;
    z-index: 10;
    border-bottom: 1px solid #98BD42 !important;
    padding: 4px 0px 24px 0px !important;
}
.max_w_725{
    max-width: 725px;
}
.max_w_530{
    max-width: 530px;
}
.accordion-button ,.accordion-body ,accordion-item{
    box-shadow: none !important;
    outline: none !important;
    background-color: transparent !important;
}
.graph_box{
    padding: 8px !important;
    box-shadow: 1px 1px 10px 0px rgba(0,0,0,0.10);
      border-radius: 10px;
}
/* ---------take first step----------- */
.form_box{
    max-width: 514px;
  border: 1px solid #495C21;
}
.hero_ellips{
    left: 30%;
    height: 280px !important;
    filter: blur(250px) !important;
}

.py_30{
    background: #181e0b;
    padding-top: 30px !important;
    padding-bottom: 30px !important;
}
.form_padding{
    padding:25px 20px  !important;
}
.form2_input{
    border: 1px solid transparent !important;
    background-color: #1f2318 !important;
}

::placeholder , .number_text{
    font-size: 16px;
    font-family: "Open Sans", sans-serif;
   font-weight: 300;
   color: #cbcec3 !important;
}
.number_text{
  
    border-right: 1px solid #595f4d;
    font-weight: 400 !important;
    padding:16px 13px !important;
    background: #343927;
}
.sign_up_btn{
    transition: all 300ms ease-in-out;
    width: 100%;
    border: none!important;
    background: #98BD42;
    padding: 14px !important;
    margin-top: 42px;
}
.sign_up_btn:hover{
    background: white;
    color: #98BD42;
}
.group_logos{
    max-width: 518.16px;
    height: 534px;
}
.take_step_ellips{
    top: -15%;
    right: -14%;
}
.take_step_ellips2 {
    bottom: -12%;
    left: -23%;
}

/* -------------footer--------------- */
.footr_icon_box{
    margin-top: 10px;
    gap: 12px;
}
.social_icon{
    transition: all 300ms ease-in-out;
}
.social_icon:hover{
    transform: translateY(-6px);
}
.fotter_line{
    padding-top: 27px !important;
    padding-bottom: 27px !important;
    border-top: 1px solid #173717;
}
.fotter_ellips{
    bottom: -13%;
    right: -4%;
}

/*------------- vdiobos------------- */
#videoContainer {
    position: relative;
    width: 100%;
    height: auto;
    text-align: center;
}
#myVideo {
    width: 100%;
    height: auto;
}
#toggleButton {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}
.pause_btn{
    height: 54.26px;
    width: 54.26px;
    background:  #98BD42;
    border-radius: 46.13px;
}
ul{
    padding-left: 0px !important;
}
@media (min-width:1930px) {
    .hero_bg{
     min-height: 55vh !important;
    } 
}
@media (max-width:1200px) {
    .group_logos {
        height: 462px;
    }
    .p_69 {
        padding:30px  0px 30px 0px  !important;
      
    }
    .mobile_frame {
        height: 622px;
        padding: 54px 28px;
    }
    .graph_card{
        max-width: 420px;
    }
    .counter_box{
        max-width: 360px;
        padding: 23px;
    }
    .px_36 {
        padding-left: 10px !important;
        padding-right: 10px !important;
    }
    .how_it_work_bg {
        height: 785px;
    }
  
    
}

@media (max-width:991.9px) {
    .graph_btn {
        margin-top: 27px;
    }
    .accordion-body{
        padding: 4px 0px 24px 8px !important;
    }
    .register_btn{
        margin-top: 10px !important;
    }
     .mobile_frame {
        height: 644px;
     }
    .px_36{
        padding-left: 14px !important;
        padding-right: 14px !important;
    }
    .work_steps_card{
        margin-top: 60px !important;
        padding-bottom: 90px !important;
    }
    .how_it_work_bg{
        height: 785px !important;  
        background-image:none;
    }   
    .company_names{
        max-width: 125px;
        height: 114px;
        margin-bottom: 18px !important;
    }
    .counter_box{
        padding: 33px;
    }
    .green_circle{
        height: 146.58px;
        width: 186.58px;
    }
    .black_logo{
        width: 150px;
    }
}
@media (max-width:767.9px) {
    .counter_box {
        width: 299px;
        height: 312px;
    }
    .countdown_box{
        max-width: 100% !important;
    }
    .black_logo {
        width: 113px;
    }
    .green_circle {
        height: 115.58px;
        width: 186.58px;
    }
    .counter_box {
       padding: 20px !important;
    }
    .graph_btn{
        margin-top: 23px;
    }
    .how_it_work_bg {
        height: 845px;
    }

 .sm_ai_stcok_text{
    font-size: 14px;
 }
 .ai_stock_svg{
    width: 40px;
    height: 40px;
 }
}
@media (max-width:575.9px) {
  
    .accordion-button::after {
        width: 24px !important;
        height: 24px !important;
        font-size: 8px !important;
    }
    .fotter_line{
        padding-top: 17px !important;
        padding-bottom: 17px !important;
    }
    .group_logos {
        height: 478px;
    }
    .mt_moblie{
        margin-top: 30px;
    }
    .ai_stock_svg{
        margin-left: 10px !important;
        padding-right: 10px !important;
    }
    .accordion-button {
         padding: 14px 0px 14px 0px !important;
    }
    .vdio_box{
        margin-top: -40px;
    }

    .pb_72{
        padding-bottom: 40px !important;
    }
    .green_card {
        min-height: 300px;
    }
    .navbar_1 {
        height: 70px;
    }
    .how_it_work_bg{
        height: 1000px !important;
    }
    .work_steps_card{
        margin-top: 30px !important;
        padding-bottom: 128px !important;
    }
    .register_btn{
       margin-bottom: 12px !important;
        margin-top: 13px !important;
    }
    
    .counter_digit_box {
        max-width: 157px;
        height: 95px;
      
    }
    .counter_box {
        height: 236px;
        max-width: 282px;
    }
    .company_names{
        max-width: 95px;
        height: 70px;
        margin-bottom: 10px !important;
    }
    .sm_text_size{
        font-size: 12px !important ;
    }
    .graph_card{
        max-width: 330px !important;
    }
    .graph_card{
        margin-top: -26px;
       
    }
    .graph_card{
        max-width: 420px;
    }
    .py_78{
        padding-bottom: 28px !important;
        padding-top: 28px !important;
    }
    .green_circle {
        margin-top: -40px;
        height: 120.58px;
        width: 125.58px;
    }
    .black_logo{
        width: 120px;
    }
    .max_w_178{
        max-width: 329px;
    }
    .sm_ai_stcok_text{
        font-size: 12px;
     }
    .p_69{
        padding: 19.5px !important;
     }
    .logo_name {
        width: 102px;
        height: 22.65px;
    }
    .nav_btn {
        padding: 5.2px 11.5px !important;
    }
    .menu_btn {
        margin-left: 5px;
        padding: 8px 6px !important;
        width: 30px;
        height: 31px;
    }
    .left_border_box {
        padding: 13px 10px !important;
    }
}
@media (max-width:540px) {
    .hero_vdio {
        height: 170px !important;
    }
    .how_it_work_bg{
        height: 970px !important;  
    }
}
@media (max-width:380px) {
    .group_logos {
        height: 328px;
    }
    .how_it_work_bg{
        height: 1030px !important;
    }
    .graph_card {
        max-width: 292px !important;
    }
    .graph_btn {
        padding: 4.5px 10.5px !important;
    }
    .company_names{
        max-width: 85px;
        height: 60px;
     
    }
}
@media (max-width:350px) {
    .group_logos {
        height: 283px;
    }
    .mt_moblie{
        margin-top: 2px;
    }
    .vdio_box {
        padding: 7px !important;
    }
    .countdown_text{
        font-size: 16px !important;
    }
    .mobile_frame {
        max-width: 320.76px;
        height: 585px;
        padding: 63px 17px;
    }
    .how_it_work_bg{
        height: 1120px !important;
    }
    .green_card {
        min-height: 340px;
    }
    .graph_card {
        max-width: 262px !important;
    }
}