* {
    list-style: none;
    padding-bottom: 0 !important;
    margin-bottom: 0 !important;
    text-decoration: none !important;
}

.custom_container {
    max-width: 1164px !important;
}

/* navbar */
.logo_name {
    cursor: pointer;
    width: 192px;
    height: 22.65px;
}

.navbar_1 {
    border-bottom: 1px solid #808080;
    height: 100px;
}

.nav_btn {
    transition: all 300ms ease-in-out;
    padding: 11.2px 21.5px !important;
    border: 1px solid white;
}
.nav_btn:hover {
    background-color: #98BD42 !important;
    color: black;
}

.menu_btn {
    cursor: pointer;
    margin-left: 10px;
    border: 1px solid white !important;
    padding:18px 15px  !important;
    width: 52px;
    height: 52px;
    background-color: inherit;
}

.menu_btn span {
    width: 100%;
    height: 3px;
    background-color: white;
    transition: 300ms linear;
}
/* --------------hero-section-------------- */
.hero_bg{
    background-image: url("../images/png/hero-bg.png");
    background-position:center;
    background-size: cover;

}
/* ------slider srction--------- */
.slider_card{
    height: 125.4px;
    max-width: 309.81px;
    padding: 14px !important;
    background: #151515;
}
.slider_profile_img{
    width: 88.52px;
    height: 96px;
}
.p_69{
   padding: 69.5px !important;
}
.blur_circle{
    filter: blur(320px);
    border-radius: 400px;
    width: 458px;
    height: 458px;
    background-color: #98BD42;
}
.slider_blur_ellips{
    top: -50% !important;
    right:-20%;
}
.max_w_978{
    max-width: 978px;
}
/*---------- benifits---------- */
.green_circle{
    background: #98BD42;
    height: 236.58px;
    width: 236.58px;
    border-radius:150px ;
}
.py_78{
    padding-bottom: 78px !important;
    padding-top: 78px !important;
}
.max_w_178{
    max-width: 179px;
}
.left_border_box{
    max-width: 833px;
    background: #1D1f17;
    border-left: 8px solid #98BD42;
    padding: 26px  31px !important;
   
}
.pb_72{
    padding-bottom: 72px !important;
}

/* ---understaing--- */
.max_w_678{
    max-width: 778px;
}
.max_w_812{
    max-width: 812px;
}
.green_card{
    max-width: 524px;
    border-radius: 16px;
    min-height: 260px;
    background: #98BD42;
}
.john_invested{
    width: 72px;
    height: 72px;
}
.graph_card{
    margin-top: -80px;
    max-width: 471px;
    border-radius: 15px;
    background: white;
    padding: 20px !important;
}
.gradient_color{
    color: #D221EB;

}
.graph_btn{
    transition: all 300ms ease-in-out;
    border: 1px solid transparent !important;
    padding:13.5px 27.5px  !important;
    background: #98BD42;
    margin-top: 63px;
}
.graph_btn:hover{
    background: white;
    color: #98BD42;
}
/* ----------how it work-------------- */
.max_w_726{
    max-width: 726px;
}
.how_it_work_bg{
    background-image: url("../images/svg/half-circle-line.svg");
    background-position:50% 20%;
    height: 910px;
    background-repeat: no-repeat;
}


/* ------------statstics for today--------------- */
.bg_green{
    background-color: #98BD42;
}
.counter_box{
    position: relative;
    z-index: 10;
    padding: 33px !important;
    background: white;
    width: 360px;
    height: 318px;
}
.counter_digit_box{
    max-width: 199px;
    height: 173px;
    background-color: #DAE7BB;
    border: 1px solid #99A380;
}
.register_btn{
    padding: 13.5px 20.5px !important;
    width: 149px !important;
    margin-top: 30px !important;
}

.company_names{
    transition: all 300ms ease-in-out;
    cursor: pointer;
    max-width: 145px;
    height: 134px;
    margin-bottom: 18px !important;
}
.company_names:hover{
    transform: scale(1.05);
}
.logos_ellips{
    bottom: -30%;
    left: -20%;
}
.logos_ellip2{
    right: -15%;
    top: -30%;
}
.benifits_ellips{
    bottom: -30%;
    left: -32%;
}
.max_w_280{
    max-width:270px;
}
.border_btn{
    transition: all 300ms ease-in-out;
    background: transparent !important;
    border: 1px solid white;
    padding: 13.5px 21.5px !important;
}
.border_btn:hover{
    color: white;
    background-color: #98BD42 !important;
}
.work_steps_card{
    margin-top: 260px !important;
    padding-bottom: 128px !important;
}
.work_ellips{
    bottom: -30%;
    left: -30%;
}
.px_36{
    padding-left: 36px !important;
    padding-right: 36px !important;
}
@media (max-width:1200px) {
    .graph_card{
        max-width: 420px;
    }
    .counter_box{
        max-width: 360px;
        padding: 23px;
    }
  
    
}

@media (max-width:991.9px) {
    .px_36{
        padding-left: 14px !important;
        padding-right: 14px !important;
    }
    .work_steps_card{
        margin-top: 60px !important;
        padding-bottom: 90px !important;
    }
    .how_it_work_bg{
        background-image:none;
    }   
    .company_names{
        max-width: 125px;
        height: 114px;
        margin-bottom: 18px !important;
    }
    .counter_box{
        padding: 33px;
    }
    .green_circle{
        height: 146.58px;
        width: 186.58px;
    }
    .black_logo{
        width: 150px;
    }
}
@media (max-width:768px) {
    .counter_box {
       padding: 20px !important;
    }
    .graph_btn{
        margin-top: 23px;
    }

 .sm_ai_stcok_text{
    font-size: 14px;
 }
 .ai_stock_svg{
    width: 40px;
    height: 40px;
 }
}
@media (max-width:575.9px) {
    .how_it_work_bg{
        height: 1050px !important;
    }
    .work_steps_card{
        margin-top: 40px !important;
        padding-bottom: 128px !important;
    }
    .register_btn{
       margin-bottom: 20px !important;
        margin-top: 15px !important;
    }
    
    .counter_digit_box {
        max-width: 157px;
        height: 95px;
      
    }
    .counter_box {
        height: 236px;
        max-width: 282px;
    }
    .company_names{
        max-width: 95px;
        height: 70px;
        margin-bottom: 10px !important;
    }
    .sm_text_size{
        font-size: 12px !important ;
    }
    .graph_card{
        max-width: 330px !important;
    }
    .graph_card{
        margin-top: -26px;
       
    }
    .graph_card{
        max-width: 420px;
    }
    .py_78{
        padding-bottom: 28px !important;
        padding-top: 28px !important;
    }
    .green_circle {
        margin-top: -40px;
        height: 120.58px;
        width: 125.58px;
    }
    .black_logo{
        width: 120px;
    }
    .max_w_178{
        max-width: 329px;
    }
    .sm_ai_stcok_text{
        font-size: 12px;
     }
    .p_69{
        padding: 19.5px !important;
     }
    .logo_name {
        width: 102px;
        height: 22.65px;
    }
    .nav_btn {
        padding: 5.2px 11.5px !important;
    }
    .menu_btn {
        margin-left: 5px;
        padding: 8px 6px !important;
        width: 30px;
        height: 31px;
    }
    .left_border_box {
        padding: 13px 10px !important;
    }
}
@media (max-width:380px) {
    .how_it_work_bg{
        height: 1090px !important;
    }
    .graph_card {
        max-width: 261px !important;
    }
    .graph_btn {
        padding: 4.5px 10.5px !important;
    }
    .company_names{
        max-width: 85px;
        height: 60px;
     
    }
}
@media (max-width:350px) {
    .how_it_work_bg{
        height: 1170px !important;
    }
}