@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Orbitron:wght@400..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.ff_opensans {
    font-family: "Open Sans", sans-serif;
}

.ff_inter {
    font-family: "Inter", sans-serif;
}

.ff_poppins {
    font-family: "Poppins", sans-serif;
}

.ff_orbitron {
    font-family: "Orbitron", sans-serif;
}

:root {
    --font-xxsm: 12px;
    --font-xsm: 14.74px;
    --font-sm: 16px;
    --font-md: 18.44px;
    --font-lg: 20px;
    --font-xl: 24px;
    --font-xxl: 32px;
    --font-xlg: 36px;
    --font-xxxl:40px !important;
    --font-2xl: 48px;
    --font-3xl: 52px;
    --font-4xl: 68px;
    --color-extralight-black: #4d4d4d;
    --color-light-black: #18161A;
    --color-grey: #151515;
    --color-dark-grey: #020507;
    --color-light-grey: #4E5051;
    --color-light-white: #cdcdcd;
    --color-white: #ffffff;
    --color-dark-white: #cfd0cd;
    --color-green: #98BD42;
    --color-dark-green: #2DB965;
    --color-extradark-green: #495C21;
    --color-medium-white: #D0D0D0;
    --color-pink: #D221EB;
    
}

/* line height */
.lh_120 {
    line-height: 120% !important;
}

.lh_125 {
    line-height: 125% !important;
}


.lh_140 {
    line-height: 140% !important;
}
.lh_130 {
    line-height: 130% !important;
}
.lh_150 {
    line-height: 150% !important;
}

.lh_160 {
    line-height: 160% !important;
}

.color-light-grey {
    color: var(--color-light-grey);
}
.gradient_color {
    color: var(--color-pink);
}
.color-dark-grey {
    color: var(--color-dark-grey);
}

.color-light-black {
    color: var(--color-light-black);
}

.color-extralight-black {
    color: var(--color-extralight-black);
}

.color-white {
    color: var(--color-white);
}
.color-medium-white {
    color: var(--color-medium-white);
}
.color-light-white {
    color: var(--color-light-white);
}

.color-green {
    color: var(--color-green);
}
.bg_green {
    background-color: var(--color-green);
}
.color-dark-green {
    color: var(--color-dark-green);
}
.color-extradark-green {
    color: var(--color-extradark-green);
}

.color-dark-white {
    color: var(--color-dark-white);
}


.bg-grey {
    background-color: var(--color-grey) !important;
}


/* text size */
.text-xxsm {
    font-size: var(--font-xxsm);
}
.text-xxxl {
    font-size: var(--font-xxxl) !important;
}

.text-xsm {
    font-size: var(--font-xsm);
}

.text-sm {
    font-size: var(--font-sm);
}

.text-xl {
    font-size: var(--font-xl);
}
.text-xlg {
    font-size: var(--font-xlg);
}
.text-xxl {
    font-size: var(--font-xxl);
}

.text-3xl {
    font-size: var(--font-3xl);
}

.text-4xl {
    font-size: var(--font-4xl);
}

.text-2xl {
    font-size: var(--font-2xl);
}

.text-md {
    font-size: var(--font-md);
}

.text-lg {
    font-size: var(--font-lg);
}


.fw_500 {
    font-weight: 500 !important;
}

.op_80{
    opacity: 80% !important;
}
.op_70{
    opacity: 70% !important;
}
@media (max-width:1279.98px) {
    :root {
        --font-sm: 16px;
        --font-xl: 22px;
        --font-2xl: 40px;
        --font-3xl: 42px !important;
    }
}
@media (max-width:1023.98px) {
    :root {
        --font-sm: 16px;
        --font-xl: 22px;
        --font-2xl: 40px;
        --font-3xl: 42px !important;
    }
}
@media (max-width:767.98px) {
    :root {
        --font-4xl: 48px;
        --font-lg: 16px !important;
        --font-2xl: 34px;
        --font-xl: 20px;
        --font-sm: 16px;
        --font-3xl: 40px !important;
    }
}

@media (max-width:575.98px) {
    .text_sm_xsm{
        font-size: 14px !important;
    }
    .sm_lh_110{
        line-height: 110% !important;
    }
    .sm_lh_120{
        line-height: 120% !important;
    }

    :root {
        --font-sm: 12px;
        --font-md: 16px;
        --font-xl: 20px;
        --font-xlg: 32px;
        --font-xxl: 24px;
        --font-2xl: 28px;
        --font-xxxl:28px !important;
        --font-sm: 16px;
        --font-3xl: 32px !important;
        --font-4xl: 38px;

    }
}